%flex-display {
    display: flex;
  }
%center-row-flex-display {
    @extend %flex-display;
    justify-content: center;
    align-items: center;
  }
%between-row-flex-display {
    @extend %flex-display;
    justify-content: space-between;
    align-items: center;
  }
%center-col-flex-display {
    @extend %flex-display;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
%center-around-col-flex-display {
    @extend %flex-display;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.app {
    min-height: 100vh;
    background:url('./../assests/images/wallpaper_music.jpg');
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    & .welcome-container {
        @extend %center-col-flex-display;
        height: 100vh;
        transform: translateX(0);
        transition: transform 2s ease-in-out;
        .welcome {
            @extend %center-col-flex-display;
            left: 0;
            h1 {
                color: white;
                font-size: 2.5rem;
            }
            h2 {
                color: #e78989;
                font-size: 2rem;
            }
            .start {
                @extend %center-row-flex-display;
                margin-top: 1.5rem;
                cursor: pointer;
                animation: start 1s ease-in-out infinite alternate-reverse;
                p {
                    color: #70e1f5;
                    font-size: 1.5rem;
                    transition: transform 0.5s ease-out;
                    &:hover {
                        transform: scale(1.1);
                    }
                }
                &:hover {
                    animation: none;
                }
            }
        }
    }
    & .welcome-container-hide {
        position: absolute;
        animation: hide-welcome 0.5s ease-in-out forwards;
    }

    .music{
        display: none;
        padding: 3rem 2rem;
        position: relative;
        .toggle {
            position: absolute;
            content: "";
            @extend %center-row-flex-display;
            top: 1rem;
            right:2rem;
            width: 2rem;
            height: 1rem;
            cursor: pointer;
            span {
                background-color: #ffffff;
                width: 2rem;
                height: 0.2rem;
                position: relative;
                transition: all 1s ease-in-out;
                &::after {
                    position: absolute;
                    content: "";
                    height: 100%;
                    width: 100%;
                    background-color: #ffffff;
                    top: 0.6rem;
                    left: 0;
                    transition: all 1s ease-in-out;
                }
            }
        }
        .toggle-hide {
            span {
                transform: rotate(45deg);
                &::after {
                    top: 0;
                    transform: rotate(90deg);
                }
            }
        }
    .grid-container{
        display: grid;
        grid-template-columns: 2fr 0fr;
        transition: grid-template-columns 1s ease-in-out;
    .content {
        overflow: hidden;
        white-space: nowrap;
    .upload-tracks {
        min-height: 100vh;
        @extend %center-col-flex-display;
        gap: 2rem;
        img {
            width: 5rem;
            height: 5rem;
        }
        h1 {
            color: #ff9901;
            font-weight: bold;
        }
     .upload {
        @extend %center-row-flex-display;
        gap: 2rem;
        .file-container {
            position: relative;
            display: inline-block;
            font-size: 1.5rem;
            .file-input {
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                cursor: pointer;
            }
            .file-label {
                display: flex;
                align-items: center;
                gap: 1rem;
                padding: 1rem 1.5rem;
                background-color: #003f5e;
                color: #ffffff;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                span {
                    padding: 0 1rem;
                    border-right: 0.1rem solid #ffffff;
                }
                img {
                    width: 3rem;
                    height: 3rem;
                }
            }
        }
        .start-play {
            cursor: pointer;
            padding: 1rem;
            display: none;
            img {
                width: 5rem;
                height: 5rem;
            }
        }
        .show-start-play {
            display: flex
        }
    }
    .error {
        display: none;
        transition: all 0.5s ease-in-out;
        h2 {
            color: #e73f3f;
        }
    }
    .error-show {
        display: flex;
    }
}
    .hide-upload-tracks {
        display: none;
    }

    .music-player {
        @extend %center-col-flex-display;
        gap: 1rem;
        margin-top: 2rem;
        display: none;
        .information {
            font-size: 1.5rem;
            color: rgb(0, 219, 248);
        }
        .cover {
            width:15rem;
            height: 15rem;
            border: 0.1rem solid #b10303;
            background-color: transparent;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .track-info {
            @extend %center-col-flex-display;
            gap: 0.5rem;
            .track-name {
                font-size: 1.4rem;
                color: #ffffff;
            }
            .track-artist {
                font-size: 1.2rem;
                color: #d7dddf
            }
        }
        .track-slider-container {
            @extend %center-row-flex-display;
            gap: 0.5rem;
            .track-slider {
                appearance: none;
                height: 5px;
                background: rgb(235, 204, 204);
                opacity: 0.7;
                &::-webkit-slider-thumb {
                    appearance: none;
                    width: 15px;
                    height: 15px;
                    background: rgb(111, 248, 111);
                    cursor: pointer;
                    border-radius: 50%;
                }
            }
            .current-time, .total-time{
                color:#d7dddf
            }
            .current-time-pause {
                animation: pause-time 0.5s ease-out infinite alternate-reverse;
            }
        }
        .control {
            @extend %center-row-flex-display;
            gap: 3rem;
            img {
                width: 2rem;
                height: 2rem;
            }
            .track-control {
                @extend %center-row-flex-display;
                gap: 1rem;
                .disabled {
                    opacity: 0.5;
                }
                .fa {
                    color: #ffffff;
                }
            }

        }


        .volume-container {
            @extend %center-row-flex-display;
            gap: 0.5rem;
            .vol-slider {
                max-width: 5rem;
            }
            .fa {
                color: #ffffff;
            }
        }
    }
    .show-music-player {
        display: flex;
        animation: scale 1s ease-in-out forwards;
    }
}
  .side {
    position: relative;
    overflow: hidden;
    .side-menu {
        min-height: 100vh;
        transition: width 1s ease-in-out;
        border: 0.1rem solid rgb(150, 20, 20);
        white-space: nowrap;
        padding: 0.2rem;
        .tracks {
            .tracks-header {
                @extend %center-row-flex-display;
                padding: 0.2rem;
                border-bottom: 0.2rem solid #ffffff;
                background-color: #323536;
                h1 {
                    color: #2ef107;
                }
            }
            .tracks-list {
            margin-top: 3rem;
            padding: 1rem;
            @extend %center-col-flex-display;
            justify-content: flex-start;
            gap: 1.5rem;
            color: #ffffff;
            .track {
                cursor: pointer;
                font-size: 1.2rem;
            }
            .track_play {
                animation: shake 10s ease-in-out infinite;
            }
            }
            .empty {
                @extend %center-col-flex-display;
                min-height: 100vh;
                h2 {
                    color: #06c5ac;
                }
            }
        }
    }
}
}
.grid-container-show {
    grid-template-columns: 2fr 1fr;
}
    }
.music-show {
    display: block;
}
    @keyframes start {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(1rem);
        }
    }
    @keyframes hide-welcome {
        0%{
            left: 300px;
            white-space: nowrap;
        }
        100%{
            left: -999px;
        }
    }
    @keyframes scale {
        from {
            transform: scale(0);
        }
        to {
            transform: scale(1);
        }
    }
    @keyframes pause-time {
        from {
            color: #323536;
        }
        to {
            color: #e73f3f;
        }
    }
    @keyframes shake {
        0%, 100% { transform: translateX(0); }
        10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
        20%, 40%, 60%, 80% { transform: translateX(10px); }
    }

}
@media screen and ( max-width:800px) {
    .app {
        & .welcome-container {
            .welcome {
                h1 {
                    font-size: 2rem;
                }
                h2 {
                    font-size: 1.7rem;
                }
                .start {
                    p {
                        font-size: 1.5rem;
                    }
                }
            }
        }
        .music {
            & .header {
                padding: 0 1rem;
            }
            .grid-container-show {
                grid-template-columns: 0fr 3fr;
            }
        }
    }
}
